.main-meta h1 {
	background-color: #0ac38b; /* teal */
	padding: 20px;
	margin: 0;
	color: #FFFFFF;
	//border-top-right-radius: 5px; /*top right corner radius*/
	font-family:"Courier New", Courier, monospace;
}
