#news5 {
	background: #ECF0F1; // light grey
	padding: 20px;
	/* border-bottom-right-radius: 5px; bottom corner radii */ 
	/*border-bottom-left-radius: 5px;*/
	margin: 0;
	border-top: 5px solid #a14452;
}