/* line 1, ../sass/components/_body.scss */
body {
  background: #d0cbb7;
}

/* line 1, ../sass/components/_wrap.scss */
.wrap {
  margin: 0 auto;
  width: 960px;
}

/* line 1, ../sass/components/_main.scss */
.main {
  background: #dc6b7d;
  border-radius: 5px;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);
  margin-top: 40px;
}

.main img {
	display: block;
	width: 200px;
	float: left;
	border-left: 50px;
	//border-bottom-right-radius: 5px;
}

/* line 1, ../sass/components/_bigPicture.scss */
#bigPicture {
  width: 500px;
}

/* line 1, ../sass/components/_description.scss */
#description {
  padding: 10px;
}

/* line 1, ../sass/components/_ingredients.scss */
.ingredients {
  height: 345px;
  border-top-right-radius: 5px;
  border-top-left-radius: 5px;
}

/* line 1, ../sass/components/_list.scss */
#list {
  background: #ECF0F1;
  padding: 40px;
  margin: 0;
  border-top: 5px solid #a14452;
}

/* line 1, ../sass/components/_mainList.scss */
#mainList {
  margin: 10px 10px 5px 30px;
  padding: 0;
}

#mainList2 {
  margin: 10px 10px 5px 30px;
  padding: 0;
}

/* line 1, ../sass/components/_mainMeta.scss */
.main-meta {
  float: left;
  width: 760px;
  height: 300px;
  background: #ECF0F1;
  //border-radius: 5px;
}

/* line 1, ../sass/components/_mainMetaH1.scss */
.main-meta h1 {
  background-color: #0ac38b;
  /* teal */
  padding: 20px;
  margin: 0;
  color: #FFFFFF;
  font-family: "Courier New", Courier, monospace;
}

/* line 1, ../sass/components/_mainMetaH2P.scss */
.main-meta h2, p {
  margin: 20px 0 0 0;
  padding: 0 20px;
}

h3 {
	text-align: center;
}

/* line 1, ../sass/components/_mediaGrid.scss */
.media-grid {
  list-style-type: none;
  background: #067553;
  margin: 0;
  padding: 0;
}

/* line 1, ../sass/components/_mediaGridChild.scss */
.media-grid li:nth-child(even) {
  background: #067553;
}

/* line 1, ../sass/components/_mediaGridImage.scss */
.media-grid img {
  margin-top: 15px;
  margin-bottom: 10px;

 filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=10);
  opacity: 0.5;
  
  -webkit-border-radius: 25px;
  -moz-border-radius: 25px;
  -ms-border-radius: 25px;
  -o-border-radius: 25px;
  border-radius: 25px;
  -webkit-transition-property: all;
  -moz-transition-property: all;
  -o-transition-property: all;
  transition-property: all;
  -webkit-transition-duration: 1s;
  -moz-transition-duration: 1s;
  -o-transition-duration: 1s;
  transition-duration: 1s;
} 

.media-grid img:hover {	
	
 *@include border-radius(25px);
  @import "compass/css3";
   filter: progid:DXImageTransform.Microsoft.Alpha(enabled=false);
  opacity: 1;

}

/* line 1, ../sass/components/_mediaGridLi.scss */
.media-grid li {
  background: #519E87;
  float: left;
  height: 200px;
  width: 20%;
}

/* line 1, ../sass/components/_mediaGridSmall.scss */
.media-grid.media-grid-sm li {
  width: 10%;
  height: 100px;
}

/* line 1, ../sass/components/_nav.scss */
#nav {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

/* line 1, ../sass/components/_navLi.scss */
#nav li {
  list-style: none;
  background-color: #FFFFFF;
  width: 300px;
  border-style: solid;
  border-width: 2px;
  border-color: #333;
  border-radius: 2px;
  padding: 5px;
  display: inline;
  font-family: Verdana, Geneva, sans-serif;
}

/* line 1, ../sass/components/_navLiSelected.scss */
#nav li.selected {
  background-color: #EDEA78;
  color: #063;
}

/* line 1, ../sass/components/_news1-4.scss */
#news, #news2, #news3, #news4 {
  background: #ECF0F1;
  /* light grey */
  padding: 10px;
  margin: 0;
}

/* line 1, ../sass/components/_news5.scss */
#news5 {
  background: #ECF0F1;
  padding: 20px;
  /* border-bottom-right-radius: 5px; bottom corner radii */
  /*border-bottom-left-radius: 5px;*/
  margin: 0;
  border-top: 5px solid #a14452;
}

/* line 1, ../sass/components/_note.scss */
.note {
  background: #ECF0F1;
  padding: 20px;
  border-top: 5px solid #a14452;
  margin-bottom: 0;
  font-size: 120%;
}

/* line 1, ../sass/components/_note2.scss */
.note2 {
  /*photos page*/
  background: #ECF0F1;
  padding: 20px;
  height: 400px;
  border-top: 5px solid #a14452;
  margin-bottom: 0;
}

/* line 1, ../sass/components/_rule.scss */
#rule {
  width: 740px;
}

/* line 1, ../sass/components/_slogan.scss */
#slogan {
  font-family: Verdana, Geneva, sans-serif;
  border-top: 5px solid #d2ce48;
  /*text-align: center;*/
}

#navigation {
	color: #dc6b7d;
	display: block;
	margin: 0;
}

.headerText {
	text-align: center;
}

/* line 1, ../sass/components/_ulOl.scss */
ul, ol {
  padding: 0;
  margin: 0 0 0 30px;
}
